<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API 2_Jira RestAPI">
    <listeners>
        <listener class-name="common.listener.TestListener"></listener>
    </listeners>
    <parameter name="Environment" value="Default"></parameter>
    <test name="Regression 1">
        <classes>
            <class name="jiraapi.testcases.getissue.API001"></class>
            <class name="jiraapi.testcases.getissue.API002"></class>
            <class name="jiraapi.testcases.createissue.AP003"></class>
            <class name="jiraapi.testcases.assignuser.AP004"></class>
            <class name="jiraapi.testcases.deleteissue.API005"/>
            <class name="jiraapi.testcases.deleteissue.API006"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->