<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API 2_Jira RestAPI">
    <listeners>
        <listener class-name="common.listener.TestListener"></listener>
    </listeners>
    <parameter name="Environment" value="Default"></parameter>
    <test name="Regression 1">
        <classes>
            <class name="jiraapi.testcases.issuecomment.getcomment.API009"></class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->